#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    
    behaviors {
        rot_mwh: behavior_sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENC_KP";
            #sensor-binding-cells = <2>;
            bindings = <&mwh>, <&mwh>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W    &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P 
&kp A    &kp S    &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp Z    &kp X    &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
         &kp DOT  &kp RET   &kp DEL   &kp ESC   &kp SQT   &kp BSPC  &kp SPACE &kp TAB
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &rot_mwh SCROLL_UP SCROLL_DOWN>;
        };
    };
};
