#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        workman {
            bindings = <
  &kp Q  &kp D                &kp R                  &kp W                    &kp B   &kp J    &kp F            &kp U        &kp P             &kp SEMICOLON
  &kp A  &kp S                &kp H                  &kp T                    &kp G   &kp Y    &kp N            &kp E        &kp O             &kp I
  &kp Z  &kp X                &kp M                  &kp C                    &kp V   &kp K    &kp L            &kp COMMA    &kp DOT           &kp FSLH
         &mt LEFT_GUI KP_DOT  &mt LEFT_SHIFT RETURN  &mt LEFT_CONTROL DELETE  &tog 3  &kp ESC  &lt 1 BACKSPACE  &lt 2 SPACE  &mt LEFT_ALT TAB
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;

        };

        numbers {
            bindings = <
  &kp F1       &kp F2           &kp F3           &kp F4         &kp F5       &kp F6      &kp F7     &kp F8       &kp F9       &kp F10
  &kp KP_N1    &kp KP_N2        &kp KP_N3        &kp KP_N4      &kp KP_N5    &kp KP_N6   &kp KP_N7  &kp KP_N8    &kp KP_N9 i  &kp KP_N0
  &kp KP_PLUS  &kp KP_SUBTRACT  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp EQUAL    &kp KP_DOT  &kp CARET  &kp PERCENT  &kp F11      &kp F12
               &trans           &trans           &trans         &trans       &trans      &trans     &trans       &trans
            >;

        };

        symbols {
            bindings = <
  &trans         &kp GRAVE        &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &trans            &kp LA(NUMBER_4)  &kp LS(NUMBER_3)       &kp DOLLAR         &trans            &kp PIPE
  &kp AMPERSAND  &kp EXCLAMATION  &kp QUESTION      &kp SEMICOLON      &kp MINUS         &kt LEFT_BRACE    &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp LESS_THAN     &kp KP_SLASH
  &kp ESC        &kp COLON        &kp HASH          &kp TILDE          &kp UNDERSCORE    &kp RIGHT_BRACE   &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp BACKSLASH
                 &trans           &trans            &trans             &trans            &trans            &trans                 &trans             &trans
            >;

        };

        arrows {
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans    &trans        &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW
  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans    &trans        &trans
          &trans  &trans  &trans  &trans  &trans  &trans          &trans    &trans
            >;

        };
    };
};